.container-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 13px 16px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1 ;
    animation: change;
    animation-duration: 5s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}
@keyframes change{
    from{
        background: transparent;
    }
    to{
        background: #fff;
    }
}
.container-header
.menu-main{
    display: flex;
    position: relative;

}
.menu-main >li{
    list-style: none;

}
.sub-title > a:hover,
.menu-main >li > .menu-item:hover{
    color: #777;
}
.menu-main >li > .menu-item{
    font-size: 18px;
    color: #212529;
    font-family: 'Mulish', sans-serif;
    margin-right: 40px;
    font-weight: 500;
    padding: 8px;
    display: block;
}
.icon{
    font-size: 12px;
}
/* *dropdow-menu */
.sub-nav{
    position: absolute;
    top: 40px;
    display: none;
    border:  1px solid #aeaeae;
    min-width: 66%;
    padding: 5px;
    background: #fff;
}
.menu-main .nav:hover .sub-nav  {
    display: block ;
}
.sub-nav
.sub-title{
    list-style: none;

}
.sub-title > a{
    padding: 4px 12px;
    display: block;
    font-size: 18px;
    color: #151412;
    font-family: 'Mulish', sans-serif;
    line-height: 1.75;
}
span{
    color: #777;
}
.drop-down-menu{
    position: absolute;
    min-width: 95%;
    right: 44px;
    padding: 16px;
}
.drop-down-menu
.menu-heading{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

}
.drop-down-menu
.menu-heading
.heading{
    font-size: 26px;
    color: #87826e;
    font-family: 'Italiana', sans-serif;
    font-weight: 100;
}
.drop-down-menu
.menu-heading
.number{
    font-size: 21px;
    color: #fff;
    background-color: #87826e;
    font-family: 'Italiana', sans-serif;
    border-radius: 50%;
    padding: 6px 14px;
    font-weight: 600;
}
.menu-boder
li{
    list-style: none;
}
.menu-boder
.menu-part-one{
    display: flex;
    justify-content: space-between;
}
.menu-boder
.menu-part-one 
.desc{
    font-size: 16px;
    color: #87826e;
}
.menu-boder
.menu-part-one > a:hover{
    color: #87826e;
}
.menu-boder
.menu-part-one > a{
    font-size: 22px;
    font-family: 'Mulish', sans-serif;
    color: #212529;
}
.menu-boder
.menu-part-two > a{
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    color: #212529;

}
.border-one{
    border-top-right-radius:5px ;
    border-top-left-radius:5px ;
}
.menu-boder{
    line-height: 1.5;
    padding: 8px 16px;
    border-top: 1px solid #151412;
    border-left: 1px solid #151412;
    border-right: 1px solid #151412;

}
.border-three{
    border-bottom: 1px solid #151412;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 16px;
}
.menu-btn
.btn-view:hover{
    background-color: #87826e;
}
.menu-btn
.btn-go,
.btn-view{
    background-color: #212529;
    color: #fff;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    padding: 12px 22px;
    text-align: center;
    min-width: 100%;
    display: block;
}
.menu-btn
.btn-go:hover{
    background-color: #212529;
}
.menu-btn
.btn-go{
    margin-top: 5px;
    background-color: #87826e;
}
.header{
    background-image: url(../img/backgr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: fill;
    height: 100vh;
}
.banner-content
.banner-heading{
    font-family: 'Italiana', sans-serif;
    font-size: 72px;
    color:#151412;
    font-weight: 100;
    margin-bottom: 8px;
}
.banner-content
.banner-title{
    font-size: 22px;
    font-family: 'Mulish', sans-serif;
    color: #36332f;
    font-weight: 100;
    width: 87%;
    margin-bottom: 16px;
    line-height: 1.5;
}
.banner-content
.banner-link{
    font-size: 18px;
    color: #151412;
    font-family: 'Mulish', sans-serif;
    padding-bottom: 10px;
}
.banner-content
.banner-link::before{
    position: absolute;
    content: '';
    background: #000;
    width: 0;
    height: 2px;
    top: 31px;
    transition: 0.5s;
}
.banner-content
.banner-link:hover::before{
    background: #777;
    width: 86px;
}
.banner-content
.banner-link:hover
{
    color: #777;
}
.banner-content{
    position: absolute;
    content: '';
    right: 86px;
    bottom: 76px;
    z-index: 0;
}
.banner-content
.banner-line{
    position: relative;
}
/* *CONTAINER */
.container{
    width: 100%;
}
.row{
    margin: 0 auto;
    width: 55%;
    padding-top: 171px;
    padding-bottom: 171px;
}
.row
.container-about{
    font-size: 14px;
    font-family: 'Mulish', sans-serif;
    color: #999;
    letter-spacing: 2px;
}
.row-three
.container-line::before{
    position: absolute;
    content: '';
    width: 123px;
    bottom: 24px;
    height: 2px;
    background-color: #000;
}
.container-line:hover::before{
    background-color: #777;
}
.row-three
.container-line:hover{
    color: #777;
}
.content-cart
.btn-cart,
.row-three
.container-line{
    font-size: 18px;
    font-family: 'Mulish', sans-serif;
    color: #151412;
    margin-right: 46px;
}
.row-two{
    display: flex;
    justify-content: space-between;
    margin: 0px 117px;
}
.row-three{
    display: flex;
    align-items: center;
}
.row
.container-heading{
    font-size: 42px;
    font-family: 'Italiana', sans-serif;
    font-weight: 100;
    padding: 16px 0;
    margin-bottom: 8px;
    color: #151412;
    width: 102%;
}
.row
.container-sub{
    font-size: 18px;
    font-family: 'Mulish', sans-serif;
    color: #4d4946;
    font-weight: 100;
    line-height: 1.5;
    width: 100%;
    opacity: .9;
}
.icon-left{
    margin-right: 10px;
    opacity: 0.7;
}
.icon-right:hover{
    background-color: #000;
    color: #fff;
}
.icon-right,
.icon-left{
    border: 1px solid #333;
    border-radius: 50%;
    padding: 17px 25px;
    font-size: 35px;
    color: #151412;
}
.row-two
.container-title{
    font-size: 40px;
    font-family: 'Italiana', sans-serif;
    font-weight: 100;
    padding: 16px 0;
    margin-bottom: 8px;
    color: #151412;
    
}
.row-three{
    position: relative;
}
/* *menu */
.menu{
    display: flex;
    text-align: center;
}
.menu-sell{
    margin: 10px 8px;
    line-height: 1.75;
}
.menu-sell
.sell-item{
    list-style: none;
    
}
.img{
    height: 383px;
    margin-bottom: 15px;
    overflow: hidden;
}
.menu-sell
.sell-item
.img-sell:hover{
    transform: scale(1.1);
    transition: 0.8s;
    opacity: 0.9;
}
.menu-sell
.sell-item
.img-sell{
    width: 100%;
    height: 100%;
}
.content-cart{
    position: relative;
}
.content-cart
.btn-cart{
    position: absolute;
    top: -50px;
    left: 63px;
    transition: 0.4s;
    display: none;

}
.sell-item:hover .btn-cart{
    display: block;
}
.content-cart
.btn-cart:hover{
    color: #777;
}
.content-cart
.btn-cart:hover::before{
    background-color: #777;
}
.content-cart
.btn-cart::before{
    position: absolute;
    content: '';
    width: 101px;
    bottom: -5px;
    height: 2px;
    background-color: #000;
    transition: 0.4;
    display: none;
}

.sell-item
.sell-set{
    color: #212529;
    font-size: 22px;
    font-family: 'Mulish', sans-serif;
}
.sell-item
.sell-reset{
    color: #87826e;
    font-size: 22px;
    font-family: 'Mulish', sans-serif;
}
/* *text */
.text{
    text-align: center;
    position: relative;
}

.text
.text-heading{
    font-size: 42px;
    font-family: 'Italiana', sans-serif;
    font-weight: 100;
    padding: 48px 0;
    margin-bottom: 8px;
    color: #151412;
}
.text
.text-para{
    color: #212529;
    font-size: 28px;
    font-family: 'Mulish', sans-serif;
    opacity: 0.9;
    font-weight: 300;
    width: 53%;
    margin: auto;
    line-height: 1.5;
}
.text
.text-title{
    font-size: 18px;
    font-family: 'Mulish', sans-serif;
    color: #212529;
    font-weight: 800;
    text-transform: uppercase;
    padding-top: 25px;
    padding-bottom: 57px;
}
.text
.text-icon
.row-right{
    font-size: 35px;
}
.text
.text-icon
.row-left{
    font-size: 35px;
    margin-right: 60px;
    margin-bottom: 30px;
    color: #777;
}
/* *background */
.background{
    background-position: center;
    background: url(/asset/img/backgr2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    text-align: center;
}
@keyframes set {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(1turn);
    }
}
.player-img{
    position: absolute;
    content: '';
    top: 40%;
    right: 40%;
    animation: set;
    animation-duration: 50s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.icon-play{
    position: absolute;
    bottom: 39%;
    right: 48.5%;
}
.icon-play:hover{
    color: #777;
    cursor: pointer;
}
.wrap-section{
    padding: 171px 0;

}
.tex-content{
    position: absolute;
    right: 0px;
    display: none; 
}
/* .text-team:hover .tex-content{
    display: block;
    cursor: pointer;
} */

.text-center{
    font-size: 42px;
    font-family: 'Italiana', sans-serif;
    font-weight: 100;
    margin-bottom: 48px;
    color: #151412;
    text-align: center;
}
.text-team{
    position: relative;
    display: flex;
    justify-content: center;
}
.text-team
.text-row{
    font-size: 28px;
    font-family: 'Italiana', sans-serif;
    font-weight: 100;
    color: #151412;
    padding: 16px;
    border-bottom: 1px solid #ced4da;
    width: 56%;
}
.tex-content
.para{
    font-size: 18px;
    font-family: 'Mulish', sans-serif;
    color: #36332f;
    font-weight: 100;
    margin-bottom: 16px;
    width: 105%;
    line-height: 1.75;
    margin-left: 15px;
}
.icon-down{
    font-size: 15px;
}
/* *groupby */
.group-by{
    display: flex;
    align-items: center;
}
.group-by-frist{
    background: url(/asset/img/banner-img2.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    width: 664px;
    height: 236px;
    position: relative;

}
.group-by-second{
    background: url(/asset/img/banner-img3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: fill;
    width: 664px;
    height: 236px;
    position: relative;
    margin-top: 20px;
}
.group-by-one{
    background: url(/asset/img/banner-img1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: fill;
    width: 664px;
    height: 492px;
    position: relative;
    margin-right: 20px;
}
.group-by-second
.group-by-heading,
.group-by-frist
.group-by-heading,
.group-by-one
.group-by-heading{
    font-family: 'Italiana', sans-serif;
    font-size: 72px;
    font-weight:300 ;
    color: #151412;
}
.group-by-frist
.group-by-para,
.group-by-second
.group-by-para,
.group-by-one
.group-by-para{
    font-size: 18px;
    font-family: 'Mulish', sans-serif;
    color: #151412;
    font-weight: 500;
}
.group-by-frist
.group-by-para::before,
.group-by-second
.group-by-para::before,
.group-by-one
.group-by-para::before{
    position: absolute;
    content: '';
    background: #000;
    height: 2px;
    top: 115px;
    width: 22%;
}
.section{
    position: absolute;
    left: 70px;
    bottom: 65px;
}
.group-by-second
.group-by-para::before{
    width: 50%;
}
.group-by-frist
.group-by-para::before{
    width: 30%;
}
/* *footer */
.footer-list > li{
    list-style: none;
}
.footer-list{
    padding-left: 20px;
}
.footer-list
.footer-title{
    font-size: 18px;
    font-family: 'Mulish', sans-serif;
    color: #36332f;
    font-weight: 300;
    width: 113%;
    line-height: 1.5;
    padding-bottom: 16px;
}
.footer-list
.footer-heading{
    font-size: 28px;
    font-family: 'Italiana', sans-serif;
    font-weight: 100;
    color: #151412;
    padding-bottom: 8px;
    margin-bottom: 8px;
}
.footer-list
.footet-item{
    font-size: 18px;
    font-family: 'Mulish', sans-serif;
    color: #212529;
    font-weight: 500;
    line-height: 1.5;
    padding-bottom: 8px;
}
.footer-list
.footet-item:hover{
    color: #87826e;
}
.footer-icon>a{
    width: 122%;
}
.footer-icon
.symbols{
    padding-right: 30px;
    color: #aeaeae;
    transition: 0.4s;
}
.footer-icon
.symbols:hover{
    color: #36332f;
}
.footer-menu{
    padding-top: 171px;
    display: flex;
    justify-content: space-around;
    margin-left: 74px;
    margin-right: 100px;
    padding-bottom: 102px;
}
.lists,
.erro-row{
    width: 216px;
}
.erro-row
.footer-erro{
    width: 133%;
}
.footer-leats{
    display: flex;
    align-items: center;
    margin-left: 140px;
    margin-right: 140px;
    padding-top: 16px;
    border-top: 1px solid #212529;
}
.footer-leats> a,
.footer-leats 
.coppy-right{
    font-size: 18px;
    font-family: 'Mulish', sans-serif;
    color: #36332f;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 16px;
}
.footer-leats> a{
    font-weight: 500;

}